html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(237, 231, 222, 1);
  position: relative;
  width: 51.2rem;
  height: 28.8rem;
  overflow: hidden;
}

.section_1 {
  height: 28.8rem;
  background: url(./img/FigmaDDSSlicePNG82280bebc08f13e9c8a22e39ee06fe3c.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 51.2rem;
}

.section_2 {
  position: relative;
  width: 51.2rem;
  height: 28.8rem;
}

.section_3 {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  position: relative;
  width: 44.934rem;
  height: 2.667rem;
  margin: 0.534rem 0 0 3.147rem;
}

.text_1 {
  width: 2.347rem;
  height: 0.827rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.586rem;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.907rem 0 0 15.334rem;
}

.text_2 {
  width: 2.347rem;
  height: 0.827rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.586rem;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.907rem 0 0 1.334rem;
}

.text_3 {
  width: 2.347rem;
  height: 0.827rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.586rem;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.907rem 0 0 1.334rem;
}

.text-wrapper_1 {
  background-color: rgba(28, 28, 28, 1);
  border-radius: 70px;
  height: 1.76rem;
  width: 3.2rem;
  margin: 0.454rem 0 0 1.334rem;
}

.text_4 {
  width: 1.174rem;
  height: 0.827rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.586rem;
  font-family: PingFang SC-Medium;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.48rem 0 0 1.014rem;
}

.text_5 {
  width: 1.174rem;
  height: 0.827rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.586rem;
  font-family: PingFang SC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 0.587rem;
  margin: 0.987rem 0 0 9.68rem;
}

.group_1 {
  background-color: rgba(255, 255, 255, 1);
  height: 0.987rem;
  width: 0.987rem;
  margin: 0.934rem 3.174rem 0 0.347rem;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  width: 0.427rem;
  height: 0.347rem;
  margin: 0.32rem 0 0 0.294rem;
}

.group_2 {
  position: absolute;
  left: 40.694rem;
  top: 0.854rem;
  width: 1.12rem;
  height: 1.12rem;
}

.section_4 {
  width: 51.2rem;
  height: 25.627rem;
  margin-bottom: 0.027rem;
}

.section_5 {
  width: 40.8rem;
  height: 16.827rem;
  margin: 4.56rem 0 0 6.24rem;
}

.text-group_1 {
  width: 12.374rem;
  height: 16.24rem;
}

.paragraph_1 {
  width: 12.374rem;
  height: 9.6rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.546rem;
  font-family: PingFang SC-Medium;
  font-weight: 500;
  text-align: left;
  line-height: 2.4rem;
}

.paragraph_2 {
  width: 10.427rem;
  height: 2.134rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.693rem;
  font-family: Roboto-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.067rem;
  margin-top: 4.507rem;
}

.box_2 {
  height: 16.534rem;
  background: url(./img/FigmaDDSSlicePNG54bf55a58d27b984997267de133ba262.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.294rem;
  width: 16.534rem;
}

.block_1 {
  width: 16.534rem;
  height: 16.534rem;
}

.section_6 {
  width: 5.867rem;
  height: 1.867rem;
  margin: 0.854rem 0 1.52rem 6.24rem;
}

.box_3 {
  background-color: rgba(28, 28, 28, 1);
  border-radius: 80px;
  position: relative;
  width: 5.867rem;
  height: 1.867rem;
}

.text_6 {
  width: 2.56rem;
  height: 1.174rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.64rem;
  font-family: PingFang SC-Semibold;
  font-weight: 600;
  text-align: left;
  white-space: nowrap;
  line-height: 4.934rem;
  margin: 0.347rem 0 0 1.174rem;
}

.section_7 {
  background-image: linear-gradient(
    271deg,
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 50%;
  height: 0.8rem;
  border: 1px gradient;
  width: 0.8rem;
  margin: 0.534rem 0.907rem 0 0.427rem;
}

.box_4 {
  width: 0.374rem;
  height: 0.267rem;
  border: 1px solid rgba(255, 255, 255, 1);
  margin: 0.267rem 0 0 0.24rem;
}

.section_8 {
  position: absolute;
  left: 0;
  top: 0;
  width: 5.867rem;
  height: 1.867rem;
}

.section_9 {
  position: absolute;
  left: 0;
  top: 0;
  width: 51.2rem;
  height: 0.56rem;
}

.section_10 {
  height: 10.294rem;
  background: url(./img/FigmaDDSSlicePNG37a20e1d6e72be96c355894604606234.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 10.294rem;
  margin: -3.254rem 0 0 3.147rem;
}

.box_5 {
  width: 5.867rem;
  height: 2.667rem;
  margin: 3.787rem 0 0 2.214rem;
}
