.page {
  background-color: rgba(243, 241, 240, 1);
  position: relative;
  width: 100vw;
  height: 65.16vw;
  overflow: hidden;
}

.group_1 {
  height: 15.63vw;
  background: url(./img/FigmaDDSSlicePNGac5be7059e5b5262b64f4a31ab313675.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  position: relative;
}

.group_2 {
  width: 100vw;
  height: 15.63vw;
}

.box_1 {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  position: relative;
  width: 87.77vw;
  height: 5.21vw;
  margin: 1.04vw 0 0 6.14vw;
}

.text_1 {
  width: 4.59vw;
  height: 1.62vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFang SC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 1.82vw 0 0 29.94vw;
}

.text_2 {
  width: 4.59vw;
  height: 1.62vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 1.82vw 0 0 2.6vw;
}

.text_3 {
  width: 4.59vw;
  height: 1.62vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 1.82vw 0 0 2.6vw;
}

.text-wrapper_1 {
  background-color: rgba(28, 28, 28, 1);
  border-radius: 70px;
  height: 3.44vw;
  width: 6.25vw;
  margin: 0.88vw 0 0 2.6vw;
}

.text_4 {
  width: 2.3vw;
  height: 1.62vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 0.93vw 0 0 1.97vw;
}

.text_5 {
  width: 2.3vw;
  height: 1.62vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 1.14vw;
  font-family: PingFang SC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 1.15vw;
  margin: 1.92vw 0 0 18.9vw;
}

.box_2 {
  background-color: rgba(255, 255, 255, 1);
  height: 1.93vw;
  width: 1.93vw;
  margin: 1.82vw 6.19vw 0 0.67vw;
}

.block_1 {
  background-color: rgba(255, 255, 255, 1);
  width: 0.84vw;
  height: 0.68vw;
  margin: 0.62vw 0 0 0.57vw;
}

.box_3 {
  position: absolute;
  left: 79.48vw;
  top: 1.67vw;
  width: 2.19vw;
  height: 2.19vw;
}

.text_6 {
  width: 10vw;
  height: 3.49vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.9);
  font-size: 2.5vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.5vw;
  margin: 3.38vw 0 2.5vw 12.18vw;
}

.group_3 {
  height: 20.11vw;
  background: url(./img/FigmaDDSSlicePNG37a20e1d6e72be96c355894604606234.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 20.11vw;
  position: absolute;
  left: 6.15vw;
  top: -6.35vw;
}

.group_4 {
  width: 11.46vw;
  height: 5.21vw;
  margin: 7.39vw 0 0 4.32vw;
}

.group_5 {
  width: 100vw;
  height: 49.59vw;
  margin-bottom: 0.06vw;
}

.text-wrapper_2 {
  width: 75.47vw;
  height: 3.75vw;
  margin: 4.16vw 0 0 12.18vw;
}

.text_7 {
  width: 8.34vw;
  height: 2.92vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 2.08vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.09vw;
}

.text_8 {
  width: 49.28vw;
  height: 3.75vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 1.14vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.text-wrapper_3 {
  width: 75.47vw;
  height: 3.75vw;
  margin: 3.75vw 0 0 12.18vw;
}

.text_9 {
  width: 8.34vw;
  height: 2.92vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 2.08vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.09vw;
}

.text_10 {
  width: 49.28vw;
  height: 3.75vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 1.14vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
}

.block_2 {
  width: 57.77vw;
  height: 2.92vw;
  margin: 3.75vw 0 0 12.18vw;
}

.text_11 {
  width: 8.34vw;
  height: 2.92vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 2.08vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.09vw;
}

.group_6 {
  background-color: rgba(243, 241, 240, 1);
  border-radius: 14px;
  height: 2.82vw;
  border: 1px solid rgba(204, 203, 203, 1);
  margin-left: 17.87vw;
  width: 2.82vw;
  position: relative;
}

.label_1 {
  width: 1.88vw;
  height: 1.88vw;
  margin: 0.46vw 0 0 0.46vw;
}

.box_4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.82vw;
  height: 2.82vw;
}

.group_7 {
  background-color: rgba(243, 241, 240, 1);
  border-radius: 14px;
  height: 2.82vw;
  border: 1px solid rgba(204, 203, 203, 1);
  margin-left: 25.94vw;
  width: 2.82vw;
  position: relative;
}

.label_2 {
  width: 1.15vw;
  height: 1.46vw;
  margin: 0.72vw 0 0 0.83vw;
}

.group_8 {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.82vw;
  height: 2.82vw;
}

.block_3 {
  width: 49.43vw;
  height: 6.67vw;
  margin: 0.93vw 0 0 38.38vw;
}

.text-group_1 {
  width: 20.68vw;
  height: 6.67vw;
}

.text_12 {
  width: 20.68vw;
  height: 1.88vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 1.35vw;
  font-family: PingFang SC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.88vw;
}

.text_13 {
  width: 20.68vw;
  height: 3.75vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 1.14vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
  margin-top: 1.05vw;
}

.text-group_2 {
  width: 20.68vw;
  height: 6.67vw;
}

.text_14 {
  width: 20.68vw;
  height: 1.88vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 1.35vw;
  font-family: PingFang SC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.88vw;
}

.text_15 {
  width: 20.68vw;
  height: 3.75vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 1.14vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
  margin-top: 1.05vw;
}

.block_4 {
  width: 31.57vw;
  height: 2.82vw;
  margin: 3.07vw 0 0 38.38vw;
}

.box_5 {
  background-color: rgba(243, 241, 240, 1);
  border-radius: 14px;
  height: 2.82vw;
  border: 1px solid rgba(204, 203, 203, 1);
  width: 2.82vw;
  position: relative;
}

.group_9 {
  width: 1.36vw;
  height: 1.31vw;
  border: 1.5px solid rgba(51, 53, 58, 1);
  margin: 0.78vw 0 0 0.72vw;
}

.group_10 {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.82vw;
  height: 2.82vw;
}

.box_6 {
  background-color: rgba(243, 241, 240, 1);
  border-radius: 14px;
  height: 2.82vw;
  border: 1px solid rgba(204, 203, 203, 1);
  width: 2.82vw;
  position: relative;
}

.label_3 {
  width: 1.1vw;
  height: 1.52vw;
  margin: 0.67vw 0 0 0.93vw;
}

.box_7 {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.82vw;
  height: 2.82vw;
}

.block_5 {
  width: 49.43vw;
  height: 8.55vw;
  margin: 1.04vw 0 4.42vw 38.38vw;
}

.text-group_3 {
  width: 20.68vw;
  height: 8.55vw;
}

.text_16 {
  width: 20.68vw;
  height: 1.88vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 1.35vw;
  font-family: PingFang SC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.88vw;
}

.text_17 {
  width: 20.68vw;
  height: 5.63vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 1.14vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
  margin-top: 1.05vw;
}

.text-group_4 {
  width: 20.68vw;
  height: 8.55vw;
}

.text_18 {
  width: 20.68vw;
  height: 1.88vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 1.35vw;
  font-family: PingFang SC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 1.88vw;
}

.text_19 {
  width: 20.68vw;
  height: 5.63vw;
  overflow-wrap: break-word;
  color: rgba(65, 62, 57, 1);
  font-size: 1.14vw;
  font-family: PingFang SC-Regular;
  font-weight: NaN;
  text-align: left;
  line-height: 1.88vw;
  margin-top: 1.05vw;
}
